*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body{
	font-family: 'DM-sans', sans-serif;
	text-align: center;
}
/*body{
	background-image: url(images/nidz.jpg);
	background-repeat:no-repeat, repeat;
}*/

/*.bg-img{
	background-image: url(images/nidz.jpg);
	background-size: contain;
	background-repeat:no-repeat;
	height: 70vh;
	width: 100vw;
	text-align: center;
}*/

/*#pic{
	border-radius: 50%;
	margin-left: 620px;
	z-index: 999;
}*/

/*#name{
	text-align: center;
}

#stack{
	text-align: center;*/
}
/*#abou{
	font-size: 20px;
	text-align: center;
	margin-left: 450px;*/
}



#bg-image{
	background-image: url(background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	position: absolute;
	height: 500px;
}


#bh{
	background-image: url(https://img.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg?w=900&t=st=1669207733~exp=1669208333~hmac=fb7cf569f81ef8e9f73c423be5f51c176ccf6cb4a609fed38c93b5e9e77dc448);
	opacity: 1;
	background-size: cover;
	

}

#pic{
	z-index: 1;
	position: relative;
}

.banner::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #007bff;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	z-index: 0;

}



.banner > *{
	z-index: 10;
	position: relative;
}

.banner{
	position: relative;
}

#bb{
	background-image: url(https://img.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg?w=900&t=st=1669207733~exp=1669208333~hmac=fb7cf569f81ef8e9f73c423be5f51c176ccf6cb4a609fed38c93b5e9e77dc448);
	background-size: cover;
	opacity: 1;
	
}

#h{
	border-bottom: 1px solid white;
}


#cham{
	background-color: #77ccff;
}

/*#contact{
	background-color: #55aaff;
}*/




#hht{
	background-color: #55aaff;
	padding: 10px;
	border-radius: 20px;
	color: white;
	font-weight: 600;
}



#msgg{
	resize: none;
}


@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}